.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

  mat-chip-listbox {
    margin-bottom: 60px;
    max-width: 90%;
    width: max-content;
    padding: 0 1em;
  }
  .animals-list {
    max-width: 1850px;
    display: grid;
    gap: 3em;
    justify-content: center;
  }

  .card {
    border-radius: 0.375rem;
    overflow: hidden;
    position: relative;
  }

  .image-div {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.01);
  }

  .img-placeholder {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0.997);
  }

  mat-card-content {
    color: #fff;
    padding: 1.8em 1.4em;
    h1 {
      font-size: 3em;
    }
    h3 {
      font-size: 1.5em;
    }
  }

  .delete-btn {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0;
    line-height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    i {
      font-size: 2em;
      color: rgba(224, 0, 0, 0.737);
    }
  }
}
@media screen and (max-width: 750px) {
  mat-chip-listbox {
    margin-bottom: 30px !important;
  }

  mat-chip-option {
    transform: scale(1.2);
  }
  .animals-list {
    width: 90%;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 750px) {
  mat-chip-option {
    transform: scale(1.4);
  }
  .animals-list {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1240px) {
  .animals-list {
    width: 78%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1770px) {
  .animals-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
