<div class="main-container">
  <mat-chip-listbox
    *ngIf="allAnimals$ | async"
    class="chips"
    (change)="selectFilter($event)"
  >
    <mat-chip-option
      class="chip"
      *ngFor="let group of groups"
      selectable="{{ filterOption == group ? false : true }}"
      color="{{ group == 'All' ? 'warn' : '' }}"
      selected="{{ filterOption == group ? true : false }}"
      >{{ group }}</mat-chip-option
    >
  </mat-chip-listbox>
  <div *ngIf="loading$ | async; else list">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <ng-template #list>
    <div class="animals-list">
      <mat-card class="card" *ngFor="let animal of allAnimals$ | async">
        <div
          class="img-placeholder"
          style="
            background-image: url('../../../assets/images/placeholders/image-placeholder.jpg');
          "
        ></div>

        <div
          class="image-div"
          style="background-image: url('{{ animal.image }}')"
        ></div>

        <mat-card-content class="card-content">
          <h1 class="animal-name">{{ animal.name }}</h1>
          <h3 class="group-name">
            {{
              animal.group == "Fishes"
                ? animal.group.slice(0, -2)
                : animal.group.slice(0, -1)
            }}
          </h3>
        </mat-card-content>
        <button class="delete-btn" (click)="deleteAnimal(animal)">
          <i class="fa-solid fa-trash-can trash-can-icon"></i>
        </button>
      </mat-card>
      <a
        *ngIf="(allAnimals$ | async)?.length == 0"
        class="adding-card-link"
        routerLink="/new-animal"
      >
        <div class="adding-card card">
          <i class="fa-solid fa-circle-plus plus-icon"></i>
        </div>
      </a>
    </div>
  </ng-template>
</div>
