.navbar {
  height: fit-content;
  background-color: #e91e63;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  width: 100%;
  position: fixed;
  z-index: 999;

  .nav-links {
    width: fit-content;
    gap: 3em;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-link {
    padding: 0.7em 1em;
    border-radius: 0.375rem;
    text-decoration: none;
    height: min-content;
    font-size: 1.7em;
    color: #fff;
    transition: all 0.2s ease;

    &.active-link {
      background-color: #c81953;
    }

    &:hover {
      background-color: #b0164a;
    }
  }
}

@media (max-width: 750px) {
  .nav-links {
    width: 90% !important;
    justify-content: space-evenly !important;
  }

  .nav-link {
    font-size: 1.2em !important;
  }
}
