<div class="main-container">
  <div class="home-hero">
    <div class="image-div">
      <div class="shadow-div"></div>
      <img
        class="hero-image"
        src="../../../assets/images/jaguar-logo.png"
        alt=""
      />
    </div>
    <div class="title-div">
      <img
        class="angular-logo"
        src="../../../assets/images/angular-logo.png"
        alt=""
      />
      <div class="title">
        <h1 class="main-title">C-R-U-D</h1>
        <h2 class="subtitle">Animals App</h2>
        <div class="home-buttons">
          <a class="home-button-link" routerLink="/animals"
            ><button class="home-button" mat-raised-button>View All</button></a
          >

          <a class="home-button-link" routerLink="/new-animal"
            ><button class="home-button" mat-raised-button>Create</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
