<div class="main-container">
  <div class="home-hero">
    <div class="image-div">
      <div class="shadow-div"></div>
      <img
        class="hero-image"
        src="../../../assets/images/jaguar-logo.png"
        alt=""
      />
    </div>
    <div class="title-div">
      <img
        class="angular-logo"
        src="../../../assets/images/angular-logo.png"
        alt=""
      />
      <div class="title">
        <h1>C-R-U-D</h1>
        <h2>Animals App</h2>
        <div class="home-buttons">
          <button mat-raised-button>
            <a routerLink="/animals">View All</a>
          </button>

          <button mat-raised-button>
            <a routerLink="/new-animal">Create</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
