.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-hero {
  display: flex;
  justify-content: start;
  width: 90%;
  margin-top: 20px;
  position: relative;
  max-width: 2000px;

  * {
    text-align: center;
    line-height: 100%;
  }

  .image-div {
    width: 60%;
    position: relative;
    border-radius: 130px;
    overflow: hidden;
    max-height: 643px;

    .hero-image {
      transform: scale(0.99);
      border-bottom-left-radius: 130px;
    }

    .shadow-div {
      border-radius: 130px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 40px -40px 25px -7px #303030;
      z-index: 99;
    }
  }

  .title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    gap: 4em;
    position: absolute;
    left: 50%;

    .angular-logo {
      width: 100%;
      margin-top: -50px;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      margin-top: -100px;

      .main-title {
        font-weight: 700;
        font-size: 7em;
      }

      .subtitle {
        font-size: 4em;
      }
    }

    .home-buttons {
      display: flex;
      gap: 8em;

      .home-button-link {
        display: block;
        text-decoration: none;
        color: #fff;

        .home-button {
          transform: scale(1.7);
          border-radius: 0.375rem;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .title-div {
    gap: 7em !important;
  }

  .title {
    .main-title {
      font-size: 5em !important ;
    }

    .subtitle {
      font-size: 2.6em !important ;
    }
  }
}
@media (max-width: 1100px) {
  .home-hero {
    margin-top: 35px;
    justify-content: center;
  }

  .image-div {
    display: none !important;
  }

  .title-div {
    position: static !important;
    left: 0;
    width: 90%;
  }

  .title {
    gap: 2em !important;
  }

  .home-buttons {
    gap: 5em !important;
    .home-button {
      transform: scale(1.5) !important;
    }
  }
}
