<div class="main-container">
  <div class="form-wrapper">
    <form
      class="form"
      (keyup.enter)="submitForm()"
      [formGroup]="formGroup"
      (submit)="submitForm()"
    >
      <h1 class="form-title">New Animal</h1>
      <mat-form-field class="example-form-field">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          [(ngModel)]="formGroup.value.name"
        />
        <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('maxlength')">
          Maximum 43 characters
        </mat-error>
        <button
          *ngIf="formGroup.value.name"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearInput('name')"
        >
          <img
            class="x-mark"
            src="../../../assets/images/x-button.png"
            alt=""
          />
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Image URL</mat-label>
        <input
          matInput
          type="text"
          formControlName="image"
          [(ngModel)]="formGroup.value.image"
        />
        <button
          *ngIf="formGroup.value.image"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearInput('image')"
        >
          <img
            class="x-mark"
            src="../../../assets/images/x-button.png"
            alt=""
          />
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select a group</mat-label>
        <mat-select disableRipple formControlName="group">
          <mat-option
            *ngFor="let group of groups.slice(1)"
            value="{{ group }}"
            >{{ group }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="formGroup.get('group')?.hasError('required')">
          Group is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button
        class="submit-btn"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid || buttonDisabled"
      >
        Submit
      </button>
    </form>
  </div>
</div>
