.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  h1 {
    font-size: 4em;
    color: #fff;
    text-align: center;
    margin-bottom: 0.8em;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 30%;

  .submit-btn {
    font-size: 1.9em;
    padding: 1em;
    align-self: center;
    width: 30%;
  }
}
.x-mark {
  transform: scale(0.6);
}
